/* reset */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  line-height: 1;
}
ol, ul, a {
  list-style: none;
  text-decoration: none;
}


/* layout */

/* nav */
/* header */
.header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ddd;
}
.header__container {
  width: 988px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__logo {
    color: #0099ff;
    font-size: 24px;
    font-weight: bold;
    width: 100px;
  }
  .header__menu {
    width: 20%;
    .header__menu--ul {
      display: flex;
      justify-content: space-between;
      li {
        display: flex;
        align-items: center;
      }
      li a {
        position: relative;
        height: 32px;
      }
      li a.header__menu--createChat {
        width: 120px;
        border-radius: 16px;
        background-color: #0099ff;
        color: #fff;
        font-size: 16px;
        text-align: center;
        line-height: 32px;
      }
      li a span.red_circle {
        position: absolute;
        top: 20px;
        right: 0;
        height: 15px;
        padding: 1px 5px;
        border-radius: 50px;
        background-color: #ff5d5d;
        color: #fff;
        font-size: 10px;
        line-height: 15px;
      }
    }
    // 아이콘 이미지 사이즈
    .header__menu_icon img {
      width: 32px;
      height: 32px;
    }
  }
}

/* main */
/* main__banner */
.main__banner {
  height: 397px;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  background: url(https://images.unsplash.com/photo-1493976040374-85c8e12f0c0e?dpr=1&auto=compress,format&fit=crop&w=1050&h=&q=80&cs=tinysrgb&crop=) no-repeat 0 45%;
  background-size: cover;

  article {
    display:flex;
    padding-top: 10%;
    align-items: center;
    width: 988px;
    color: #fff;
    h2 {
      font-size: 72px;
      font-weight: bold;
    }
  }
}


/* main__filter */



/* main__chat-list */
